.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #f0b90b;
    border-right: 4px solid transparent;
    animation: rotation 1s linear infinite;
}
.dark .loader {
    border-top: 4px solid #f0b90b;
}
.loader:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #f0b90b;
    border-left: 4px solid transparent;
}
.dark .loader:after {
    border-bottom: 4px solid #f0b90b;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
   }
    100% {
        transform: rotate(360deg);
   }
}
